$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px;
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smaller: 31.25rem; // 500px;
$bp-smallest: 27rem; // 432px;
$bp-extra-small: 20rem; //320px;

@mixin screen($breakpoint) {
	// @if $breakpoint == big-desktop {
	// 	@media only screen and (max-width: $bp-largest) {
	// 		@content;
	// 	}
	// }
	@if $breakpoint == desktop {
		@media only screen and (max-width: $bp-largest) {
			@content;
		}
	}

	@if $breakpoint == tab-landscape {
		@media only screen and (max-width: $bp-large) {
			@content;
		}
	}

	@if $breakpoint == tab-portrait {
		@media only screen and (max-width: $bp-medium) {
			@content;
		}
	}

	@if $breakpoint == mobile {
		@media only screen and (max-width: $bp-small) {
			@content;
		}
	}

	// @if $breakpoint == mobile {
	// 	@media only screen and (max-width: $bp-small) {
	// 		@content;
	// 	}
	// }
	// @if $breakpoint == small-mobile {
	// 	@media only screen and (max-width: $bp-smaller) {
	// 		@content;
	// 	}
	// }

	// @if $breakpoint == small-screen {
	// 	@media only screen and (max-width: $bp-smallest) {
	// 		@content;
	// 	}
	// }

	// @if $breakpoint == extra-small {
	// 	@media only screen and (max-width: $bp-extra-small) {
	// 		@content;
	// 	}
	// }
}
